html,
body {
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  line-height: 1.8rem;

  box-sizing: border-box;
}

div.menu {
  width: 100vw;
  height: 5.3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-left: 1.66rem;
  padding-right: 1.66rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header.title {
  font-size: 2rem;
}

.hero {
  width: 100vw;
  height: calc(100vh - 5.3rem);
  background-image: url("https://placehold.jp/390x780.png");
}

div.news-important {
  background-color: black;
  color: white;
}

header.news-important-title {
  font-size: 1.16rem;
  text-align: center;
  padding: 2.3rem;
}
article.news-important-content::before {
  content: ">";
}
article.news-important-content {
  padding: 0 1.6rem;
}
article.news-important-content:nth-child(n + 3) {
  padding-top: 1rem;
}
div.news-important-button {
  text-align: center;
  padding: 2.3rem;
}
div.news-important-button::after {
  content: "　>";
}
div.category-header {
  padding: 6rem 0;
}
header.category-header-title {
  font-size: 2rem;
  text-align: center;
}
div.category-header-description {
  text-align: center;
}
div.categories {
  padding: 0 1.66rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.66rem;
  justify-content: space-between;
}
div.category-item {
  width: 42.3vw;
  aspect-ratio: 1 / 1;
  position: relative;
}
header.category-item-title {
  font-size: 1.33rem;
  white-space: nowrap;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img.category-item-image {
  position: absolute;
  width: 42.3vw;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

div.inquiries {
  padding-top: 6rem;
  padding-bottom: 6rem;

  display: flex;
  flex-direction: row;
}
div.inquiry-item {
  width: calc(25.6vw + 2rem);
  flex: 1;
}
div.inquiries > div.inquiry-item > a._link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 3rem 1rem;
}
div.inquiries > div.inquiry-item:not(:first-child) > a._link::before {
  content: "";
  width: 1px;
  height: 97px;
  background-color: #e6e6e6;
  position: absolute;
  inset-inline-start: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
header.inquiry-item-title {
  font-size: 1.33rem;
}
div.about {
  background-color: black;
}
header.about-title {
  color: white;
  font-size: 2rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
div.about-items {
  display: flex;
  flex-direction: column;
}
div.about-item {
  width: 90vw;
  background-color: #e9e9e9;
  margin: 0 auto 1.66rem auto;
  text-align: center;
}
